<app-top-bar></app-top-bar>

<div class="app-container">
  <div>
    <h2>PetSafe</h2>
    <p>
      PetSafe® is our specially designed program for transporting animals that
      are not eligible to travel in the aircraft cabin. PetSafe offers
      airport-to-airport travel for animals traveling to nearly 300
      destinations, and members of our PetSafe team are trained professionals
      who love animals and are dedicated to ensuring that all pets receive the
      best care throughout their entire journey. Read More
    </p>
  </div>
  <div>
    <h4>View My PetSafe Booking</h4>
    <mat-label>Airway Bill Number</mat-label>
    <input matInput />
  </div>
  <button mat-raised-button color="primary">View</button>
  <router-outlet></router-outlet>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
