<div>
  <app-loader></app-loader>
  <div class="section">
    <div class="search">
      <mat-form-field class="seach-field">
        <input matInput #message maxlength="256" placeholder="Booking reference number" [(ngModel)]="orderId" />
        <mat-hint align="start">
          <p style="color:#7C848A;font-size: 12px;font-style: italic">
            Please enter booking reservation number
          </p>
        </mat-hint>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" (click)="getBooking()">
        View Booking
      </button>
    </div>
    <div class="column" *ngIf="booking">
      <h5 class="title"> Pet Details </h5>
      <div class="column">
        <app-pet-details [pet]="booking.pet" [documents]="booking.documentList" *ngIf="booking.pet"></app-pet-details>

      </div>
      <h6 class="title"> Services </h6>
      <div class="column">
        <app-services [services]="booking.services" *ngIf="booking.services"></app-services>
      </div>
      <h5 class="title"> Passenger Details </h5>
      <div class="column">
        <app-passenger [passenger]="booking.passenger" *ngIf="booking.passenger"></app-passenger>
      </div>

      <h5 class="title">Flight Details </h5>
      <div class="column">
        <app-flight [flight]="booking.flight" *ngIf="booking.flight"></app-flight>
      </div>

      <h5 class="title"> Movement Details </h5>
      <div class="column">
        <app-track [status]="booking.steps"></app-track>
      </div>
    </div>

  </div>
</div>
