.container {
  display: flex;
  margin: 0px;
  padding: 10px;
  /* border: 1px solid rgb(201, 221, 238); */
  /* border-radius: 1px; */
  max-width: 100%;
}

.label {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 16px;
  font-family: 'Open Sans';
}

.value {
  margin-right: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: #7C848A;
  font-family: 'Open Sans';
}

.attachment {
  width: 80px;
  height: 80px;
  background-color: #D4D4D0;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
