<div>
    <mat-card>
      <mat-card-content>
        <div class="form">
          <app-loader></app-loader>
          <div class="row">
            <mat-form-field class="column">
              <input
                matInput
                #message
                maxlength="256"
                placeholder="PNR / Booking reference number"
                [(ngModel)]="form.passenger.pnr"
              />
              <mat-hint align="start">
                <p style="color:#7C848A;font-size: 11px;font-style: italic">
                  Please enter passenger reservation number
                </p>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="column">
              <input
                matInput
                #message
                maxlength="256"
                placeholder="Mobile Number"
                [(ngModel)]="form.passenger.phone"
              />
              <mat-hint align="start">
                <p style="color:#7C848A;font-size: 11px;font-style: italic">
                  Please enter your mobile number
                </p>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="column">
              <input
                matInput
                #message
                maxlength="256"
                placeholder=" Pet Name"
                [(ngModel)]="form.pet.name"
              />
              <mat-hint align="start"
                ><p style="color:#7C848A;font-size: 11px;font-style: italic">
                  Name of your pet
                </p>
              </mat-hint>
            </mat-form-field>
            <div class="column">
              <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="fileInput.click()"
              >
                Choose Your Pet
              </button>
              <input
                hidden
                (change)="onFileSelected($event)"
                #fileInput
                type="file"
                id="file"
              />
            </div>
          </div>
          <div class="row">
            <mat-form-field class="column">
              <input
                matInput
                placeholder="Years"
                [(ngModel)]="form.pet.age.years"
              />
              <mat-hint align="start">
                <p style="color:#7C848A;font-size: 11px;font-style: italic">
                  Age of pet
                </p>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="column">
              <input
                matInput
                placeholder="months"
                [(ngModel)]="form.pet.age.months"
              />
            </mat-form-field>

            <mat-form-field class="column">
              <mat-label>Weight</mat-label>
              <input
                matInput
                [(ngModel)]="form.pet.weight.value"
                (change)="setCrate()"
              />
              <mat-hint align="start">
                <p style="color:#7C848A;font-size: 11px;font-style: italic">
                  Weight of the pet
                </p>
              </mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-select [(ngModel)]="form.pet.weight.code">
                <mat-option value="K">Kgs</mat-option>
                <mat-option value="L">Lbs</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="column crate">
              <mat-label>Crate</mat-label>
              <input
                matInput
                placeholder="Crate"
                [(ngModel)]="form.pet.crateType"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <mat-divider></mat-divider>
        </div>
        <div class="row">
          <mat-card class="image-card" *ngIf="form.pet.breed">
            <mat-card-header>
              <mat-card-title class="flight-header">
                {{ form.pet.name | uppercase }}
              </mat-card-title>
              <mat-card-title>
                <mat-chip-list>
                  <mat-chip selected>{{ form.pet.breed | uppercase }}</mat-chip>
                </mat-chip-list>
              </mat-card-title>
            </mat-card-header>

            <img
              mat-card-image
              class="image-holder"
              [src]="url"
              alt="pet image"
            />
          </mat-card>
          <!-- <mat-card class="card" *ngIf="form.flight.number">
            <mat-card-header class="flight-card">
              <mat-card-title class="flight-header">
                {{ form.flight.date | date: "dd MMM, yyyy, EEEE" }}
              </mat-card-title>
              <mat-card-subtitle>
                <div
                  class="flight-number"
                  style="    font-size: 20px;
                      color: darkblue;
                      font-weight: bolder;
                      text-align: center;
                      background: white;"
                >
                  {{ form.flight.carrier }} &nbsp; {{ form.flight.number }}
                </div></mat-card-subtitle
              >
              <mat-card-title
                style="display: flex;flex-direction: row;justify-content: space-between"
              >
                <mat-chip-list
                  ><mat-basic-chip style="padding-left: 10px;">
                    {{ form.flight.from.name }}
                  </mat-basic-chip></mat-chip-list
                >
                <div
                  style="max-width: 100%;
                      max-height: 100%;"
                >
                  <img
                    style="width: 38px;
                        align-self: center;
                        align-items: center;
                        align-content: center;"
                    src="/assets/AA.PNG"
                  />
                </div>
                <mat-chip-list
                  ><mat-basic-chip style="padding-left: 10px;">
                    {{ form.flight.to.name }}
                  </mat-basic-chip></mat-chip-list
                >
              </mat-card-title>

              <mat-card-title
                style="display: flex;flex-direction: row;justify-content: space-between"
              >
                <mat-chip-list>
                  <mat-chip> &nbsp; {{ form.flight.from.code }} &nbsp;</mat-chip>
                </mat-chip-list>
                <hr style="border: darkblue dashed 1px;width: 50px" />
                <mat-chip-list>
                  <mat-chip> &nbsp; {{ form.flight.to.code }} &nbsp;</mat-chip>
                </mat-chip-list>
              </mat-card-title>
              <mat-card-title
                style="display: flex;flex-direction: row;justify-content: space-between"
              >
                <mat-chip-list>
                  <mat-basic-chip
                    style="color: darkblue;
                        padding-left: 15px;"
                  >
                    {{ form.flight.date | date: "HH:MM" }}</mat-basic-chip
                  >
                </mat-chip-list>
                <mat-chip-list>
                  <mat-basic-chip
                    style="color: darkblue;
                        padding-right: 15px;"
                    >{{
                      form.flight.arrival_date | date: "HH:MM"
                    }}</mat-basic-chip
                  >
                </mat-chip-list>
              </mat-card-title>
            </mat-card-header>
          </mat-card> -->
          <app-flight [flight]="form.flight" *ngIf="form.flight.number" ></app-flight>
          <app-passenger [passenger]="form.passenger" *ngIf="form.passenger.pnr" style="margin-left: 20px;"></app-passenger>
          <!-- <mat-card class="card" *ngIf="form.flight.number">
            <mat-card-header>
              <mat-card-title class="flight-header">
                <p
                  style="font-size: 20px;
                      margin-bottom: 0px;
                      padding: 0 30px 0 30px"
                >
                  Traveller Info
                </p></mat-card-title
              >
              <mat-card-title> {{ form.passenger.name }}</mat-card-title>
              <mat-card-subtitle>
                {{ form.passenger.email }}
              </mat-card-subtitle>
              <mat-card-title>{{ form.passenger.phone }}</mat-card-title>
            </mat-card-header>
          </mat-card> -->
        </div>
        <div class="row">
          <mat-divider></mat-divider>
        </div>
        <div class="row">
          <div class="column">
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="form.services.feeding"
            >
              Feeding Service
            </mat-checkbox>
          </div>
          <div class="column">
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="form.services.temperatureTracking"
            >
              Temperature Tracking
            </mat-checkbox>
          </div>
          <div class="column">
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="form.services.travelInsurance"
            >
              Travel Insurance
            </mat-checkbox>
          </div>
        </div>
        <div class="row">
          <mat-divider></mat-divider>
        </div>
        <div class="row">
          <div class="column">
            <input
              mat-raised-button
              type="file"
              id="file"
              (change)="handleFileInput($event.target.files)"
            />
          </div>
        </div>
        <div class="row">
          <button
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
            class="column"
          >
            Request Booking
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
