<div *ngIf="!post" novalidate>
  <mat-card>
    <mat-card-content>
      <div class="reservation">
        <mat-form-field class="example-full-width">
          <input
            matInput
            #message
            maxlength="256"
            placeholder="Reservation number"
            [(ngModel)]="pnr"
          />
          <mat-hint align="start">
            <p style="color:#7C848A;font-size: 14px;font-style: italic">
              If you are travelling with pet the servation number
            </p>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            #message
            maxlength="256"
            placeholder=" Pet Name"
            [(ngModel)]="name"
          />
          <mat-hint align="start"
            ><p style="color:#7C848A;font-size: 14px;font-style: italic">
              Your pet name
            </p>
          </mat-hint>
        </mat-form-field>

        <div>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="fileInput.click()"
          >
            Choose Your Pet
          </button>
          <input
            hidden
            (change)="onFileSelected($event)"
            #fileInput
            type="file"
            id="file"
          />
        </div>
      </div>
      <mat-spinner
        [mode]="spinnermode"
        *ngIf="enableSpinner && !this.booking.Pet.breed"
      ></mat-spinner>
      <mat-divider *ngIf="this.booking.Pet.breed"></mat-divider>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div *ngIf="this.booking.Pet.breed">
          <div>
            <div formGroupName="Pet" class="pet-details" noValidate>
              <div formGroupName="age" noValidate>
                <mat-form-field class="age-weight">
                  <input matInput placeholder="Yrs" formControlName="years" />
                  <mat-hint align="start">
                    <p style="color:#7C848A;font-size: 14px;font-style: italic">
                      Age of pet
                    </p>
                  </mat-hint>
                </mat-form-field>
                <mat-form-field class="age-weight">
                  <input
                    matInput
                    placeholder="months"
                    formControlName="months"
                  />
                </mat-form-field>
              </div>

              <div formGroupName="weight" noValidate>
                <mat-form-field class="age-weight">
                  <mat-label>Weight</mat-label>
                  <input matInput formControlName="value" />
                </mat-form-field>
                <mat-form-field class="age-weight">
                  <mat-select formControlName="code">
                    <mat-option value="K">Kgs</mat-option>
                    <mat-option value="L">Lbs</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="create-card">
              <mat-form-field class="example-full-width">
                <mat-label>Create</mat-label>
                <mat-select formControlName="CreateType">
                  <mat-option
                    *ngFor="let create of createTypes"
                    [value]="create.value"
                  >
                    {{ create.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <mat-divider></mat-divider>
          <div formGroupName="Services" noValidate>
            <div class="services-card">
              <mat-checkbox class="example-margin" formControlName="feeding">
                Feeding
              </mat-checkbox>
              <mat-checkbox
                class="example-margin"
                formControlName="temperature"
              >
                Temperature Monitoring
              </mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="insurance">
                Insurance
              </mat-checkbox>
            </div>
          </div>
          <mat-divider></mat-divider>

          <div class="section">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="button"
              [disabled]="!formGroup.valid"
            >
              Request Booking
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="cards">
          <mat-card class="image-card">
            <mat-card-header>
              <mat-card-title class="flight-header" *ngIf="booking.Pet.breed">{{
                name
              }}</mat-card-title>
              <mat-card-title *ngIf="booking.Pet.breed">
                <mat-chip-list>
                  <mat-chip selected>{{
                    booking.Pet.breed | uppercase
                  }}</mat-chip>
                </mat-chip-list>
              </mat-card-title>
            </mat-card-header>

            <img
              mat-card-image
              class="image-holder"
              [src]="url"
              alt="pet image"
            />
          </mat-card>
          <mat-card class="card" *ngIf="booking.Flight.to.code">
            <mat-card-header class="flight-card">
              <mat-card-title class="flight-header"
                >23 Jun, 2019 , Sunday</mat-card-title
              >
              <mat-card-subtitle>
                <div
                  class="flight-number"
                  style="    font-size: 20px;
                color: darkblue;
                font-weight: bolder;
                text-align: center;
                background: white;"
                >
                  AA &nbsp;6134
                </div></mat-card-subtitle
              >
              <mat-card-title
                style="display: flex;flex-direction: row;justify-content: space-between"
              >
                <mat-chip-list
                  ><mat-basic-chip style="padding-left: 10px;">
                    London
                  </mat-basic-chip></mat-chip-list
                >
                <div
                  style="max-width: 100%;
                max-height: 100%;"
                >
                  <img
                    style="width: 38px;
                  align-self: center;
                  align-items: center;
                  align-content: center;"
                    src="/assets/AA.PNG"
                  />
                </div>
                <mat-chip-list
                  ><mat-basic-chip style="padding-left: 10px;">
                    New York
                  </mat-basic-chip></mat-chip-list
                >
              </mat-card-title>

              <mat-card-title
                style="display: flex;flex-direction: row;justify-content: space-between"
              >
                <mat-chip-list>
                  <mat-chip> &nbsp;LHR &nbsp;</mat-chip>
                </mat-chip-list>
                <hr style="border: darkblue dashed 1px;width: 50px" />
                <mat-chip-list>
                  <mat-chip> &nbsp;JFK &nbsp;</mat-chip>
                </mat-chip-list>
              </mat-card-title>
              <mat-card-title
                style="display: flex;flex-direction: row;justify-content: space-between"
              >
                <mat-chip-list>
                  <mat-basic-chip
                    style="color: darkblue;
                  padding-left: 15px;"
                    >16:15</mat-basic-chip
                  >
                </mat-chip-list>
                <mat-chip-list>
                  <mat-basic-chip
                    style="color: darkblue;
                  padding-right: 15px;"
                    >19:15</mat-basic-chip
                  >
                </mat-chip-list>
              </mat-card-title>
            </mat-card-header>
          </mat-card>
          <mat-card class="card" *ngIf="booking.Flight.to.code">
            <mat-card-header>
              <mat-card-title class="flight-header">
                <p
                  style="font-size: 20px;
                margin-bottom: 0px;
                padding: 0 30px 0 30px"
                >
                  Traveller Info
                </p></mat-card-title
              >
              <mat-card-title> Mr. Hellen, Petteri </mat-card-title>
              <mat-card-subtitle>
                petteri.hellen@finnair.com
              </mat-card-subtitle>
              <mat-card-title>+358503935410</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
