.row {
  width: 100%;
  margin: 20px;
  display: flex;
  margin-left: 0px;
  justify-content: start;
}

.column {
  margin-left: 40px;
  margin-right: 40px;
}

.mat-checkbox-label {
  font-size: 14px;
}
